@use '../../shared/styles/variables.scss' as var;

$bgAppMenu: #202029;
$bgMenuHeader: #343442;
$textColor: #dadada;
$textHoverColor: #ffdfa2;

.AppMenu {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    height: 100%;
    transform: translateX(-110%);
    transition: transform ease 0.4s;
    background: $bgAppMenu;

    display: flex;
    flex-direction: column;
}

.AppMenu.visible {
    transform: translateX(0);
}

.AppMenu__body {
    flex-grow: 1;
}

.AppMenu__header {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    background: $bgMenuHeader;
}

.AppMenu__footer {
    font-size: 14px;
    display: flex;
    flex-direction: column;

    padding-top: 1rem;
    padding-bottom: 40px;
}

.AppMenu__link,
.AppMenu__text,
.AppMenu__donateLink {
    color: $textColor;
}

.AppMenu__link,
.AppMenu__text {
    text-align: center;
    padding: 4px 0;
}

.AppMenu__link,
.AppMenu__donateLink {
    transition: color ease var.$transitionTime;
    text-decoration: none !important;


    &:hover {
        color: $textHoverColor;

        @media (pointer: coarse) {
            color: $textColor;
        }
    }

    &.active {
        color: var.$success;
        pointer-events: none;
    }
}

.AppMenu__text {
    cursor: default;
}

.AppMenu__donateIcon {
    width: 50px;
    height: 50px;
}

.AppMenu__donateLink {
    align-self: center;
    margin: 0 1rem 0.5rem;
}