@font-face {
  font-family: 'Balsamiq Sans';
  src: url('./BalsamiqSans-Bold.woff2') format('woff2'),
  url('./BalsamiqSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Balsamiq Sans';
  src: url('./BalsamiqSans-Regular.woff2') format('woff2'),
  url('./BalsamiqSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Balsamiq Sans';
  src: url('./BalsamiqSans-BoldItalic.woff2') format('woff2'),
      url('./BalsamiqSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Balsamiq Sans';
  src: url('./BalsamiqSans-Italic.woff2') format('woff2'),
      url('./BalsamiqSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}