@use '../../variables.scss' as vars;

.Notification {
    width: 630px;
    position: absolute;
    font-size: 24px;
    color: white;
    left: 50%;
    top: 50%;

    background: rgba(55, 58, 61, 0.8);
    backdrop-filter: blur(12px);

    padding: 22px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: 14px;

    display: flex;
    flex-direction: column;
    z-index: 1010;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: 50% 50%;
    pointer-events: none;

    transition-duration: 0.3s;
    transition-property: opacity, transform;
    transition-timing-function: ease;
}

.Notification.visible {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.Notification__info {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.Notification__infoIcon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    fill: #64ff6a;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

.Notification__actions {
    display: flex;
    justify-content: center;
}

.Notification__checkboxContainer {
    width: auto;
    display: inline-block;
    margin-right: 24px;
    align-self: center;
    user-select: none;
    cursor: pointer;
}

.Notification__checkboxContainer input[type=checkbox] {
    display: none;
}

.Notification__checkboxContainer input[type=checkbox]:checked + label::after { 
    opacity: 1;
}

.Notification__checkboxLabel {
    display: inline-block;
    position: relative;
    padding-left: 26px;

    &::before,
    &::after {
        content: '';
        position: absolute;
    }

    &::before {
        width: 18px;
        height: 18px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid vars.$toolColor;
        border-radius: 4px;
    }

    &::after {
        content: '';
        width: 10px;
        height: 10px;
        background: vars.$toolColor;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 2px;
        opacity: 0;
    }
}

.Notification__checkboxLabel input {
    display: none;
}


.Notification__button {
    height: 40px;
    width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #daa520;
    user-select: none;
    cursor: pointer;
}


@media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
   .Notification {
        width: 300px;
   }

   .Notification__info {
    flex-direction: column;
   }
   
   .Notification__actions {
    flex-direction: column;
    align-items: center;
   }

   .Notification__checkboxLabel {
    margin-bottom: 1.5rem;
   }
}

