@use '../../../shared/styles/variables.scss' as vars;
@use '../../../shared/styles/mixin.scss' as *;

.PanelToolbar {
    width: 100%;
    height: 80px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    @media (max-width: 629px) {
        padding: 0;
    }
}

