@use '../../shared/styles/variables.scss' as vars;
@use '../../shared/styles/mixin.scss' as *;

.TimerPanel {
    width: 100%;
    max-width: 925px;
    max-height: 100%;
    height: auto;
    overflow: hidden;
  
    padding: 0px 10px 10px;
  
    display: flex;
    flex-direction: column;
  
    background: rgba(55, 58, 61, 0.7);
    backdrop-filter: blur(15px);

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
        max-width: 630px;
    }

    @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
        max-width: 100%;
        backdrop-filter: blur(10px);
    }

    @media (max-height: 579px) {
        max-width: 1810px;
    }
}