@use '../../../variables.scss' as vars;

.AbilityGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
}

.AbilityItem {
    height: 70px;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    // transition: transform ease-in-out vars.$transitionTime;

    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: vars.$transitionTime;

    overflow: hidden;
    cursor: pointer;

    &:hover {
        transform: scale(0.9);

        @media (pointer: coarse) {
            transform: scale(1);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.AbilityItem.disabled {
    opacity: 0.2;

    &:hover {
        opacity: 0.8;

        @media (pointer: coarse) {
            opacity: 0.2;
        }
    }
}

