@use '../../variables.scss' as vars;

.Welcome {
    color: vars.$primary;
    background-image: url('../../assets/screen/welcome.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


.Welcome__title {
    margin-bottom: 10vh;
    font-size: 90px;
}