@use '../../variables.scss' as vars;

.Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    padding-top: 25vh;

    background-image: url('../../../public/assets/other/welcome_try1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
    position: relative;
}

.Welcome__titleStripe {
    height: 180px;
    width: 100%;

    margin-bottom: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
}

.Welcome__title {
    font-size: 44px;

    font-weight: bold;
    font-style: italic;

    color: vars.$welcomeFontColor;
    text-align: center;

    &.fontStyleNormal {
        font-style: normal;
    }
}