@use '../../variables.scss' as vars;

.Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    height: 100dvh;

    padding-top: 25vh;
    padding-top: 25dvh;

    background-image: url('../../../public/assets/other/welcome.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
    position: relative;
}

.Welcome__titleStripe {
    height: 180px;
    max-height: 180px;
    min-height: 90px;
    width: 100%;
    padding: 0 1rem;

    margin-bottom: vars.pxToVH(130);
    margin-bottom: vars.pxToDVH(130);

    font-size: clamp(20px, vars.pxToVW(44), 44px);

    font-weight: bold;
    font-style: italic;
    color: vars.$welcomeFontColor;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
        height: vars.pxToVH(180);
        margin-bottom: vars.pxToVH(90);

        height: vars.pxToDVH(180);
        margin-bottom: vars.pxToDVH(90);

        max-height: 140px;
    }
}

.Welcome__title {
    &.fontStyleNormal {
        font-style: normal;
    }
}