@use 'sass:color';
@use '../../variables.scss' as vars;

.Timer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.Timer__innerWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

.Timer__svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 145%;
    height: 145%;
    transform: rotateY(180deg) translate(50%, -50%);
}

.Timer__circle {
    display: none;
    stroke: black;
    opacity: 0.7;
}

.Timer__circle.transition {
    transition: stroke-dashoffset 0.05s linear;
}

.Timer__cover {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
}

.Timer__play {
    width: 50px;
    height: 50px;
    fill: rgba(166, 236, 153, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 6px;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

.Timer__countdown {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: bold;
    user-select: none;
}

.Timer__ownerBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 160px;
    z-index: 1;
    border: 2px solid #92de7f;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .Timer__ownerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
    border: 1px solid greenyellow;
    transform: rotate(-45deg) translate(25%, 25%);
  }
  
  .Timer__ownerName {
    position: absolute;
    font-size: 16px;
    left: 100%;
    bottom: 0;
    width: 100%;
    background: rgba(161, 161, 161, 0.5);
    color: #92de7f;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: rotate(-90deg);
    transform-origin: 0 100%;
  }

.Timer__controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    right: 8px;
    bottom: 8px;
    z-index: 102;
}

.Timer__controlButton {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$slotglass;
    

    transition: fill ease vars.$transitionTime;
    transition-timing-function: ease;
    transition-property: fill, background-color;
    transition-duration: vars.$transitionTime;
    cursor: pointer;
  
    svg {
      max-width: 100%;
      max-height: 100%;
    }

    &:hover {
        background-color: rgba(199, 199, 199, 0.6);
    }
}

.Timer__controlButton.remove {
    fill: vars.$easyred;
}

.Timer__controlButton.refresh {
    fill: vars.$success;
}

.Timer__controlButton.disabled {
    pointer-events: none !important;
    fill: #c1c1c1 !important;
}