.SmartTimer, .DumbTimer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    cursor: pointer;
}

.Timer__circle {
    fill: "none";
    stroke: grey;
}

.timer_svg {
    border: 1px solid red;
    transform: rotateY(180deg);
}