@use '../../shared/styles/variables.scss' as vars;

.VideoPresentation__guideText {
    margin-top: 20px;
    color: #e8e8e8;;
    transition: color ease vars.$transitionTime;
    cursor: pointer;

    &:hover {
        color: vars.$VideoPresentationFontColor;

        @media (pointer: coarse) {
            color: #e8e8e8;;
        }
    }
}

.VideoPresentation__videoContainer {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: 10200;
}

.VideoPresentation__videoClose {
    position: absolute;
    width: 35px;
    height: 35px;
    padding: 8px;
    top: 10px;
    right: 10px;
    fill: #ffffff;
    cursor: pointer;
    transition: background-color ease-in-out vars.$transitionTime;
    z-index: 1;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

.VideoPresentation__outerBox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding-top: 55px;
    box-sizing: border-box;
}


.VideoPresentation__videoBox {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 900px;
    max-height: 100%;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}