@use '../../variables.scss' as vars;

$menuWidth: 170px;
$menuHeadHeight: 40px;

.LangSelector {
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    position: relative;

    color: vars.$primary;
    fill: vars.$primary;

    transition-duration: vars.$transitionTime;
    transition-timing-function: ease;
    transition-property: fill, color;

    height: $menuHeadHeight;
    width: 140px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:hover {
        color: vars.$welcomeFontColor;
        fill: vars.$welcomeFontColor;

        @media (pointer: coarse) {
            color: vars.$primary;
            fill: vars.$primary;
        }
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
       font-size: 16px;
    }
}

.LangSelector__head {
    height: $menuHeadHeight;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    gap: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.LangSelector__code {
    display: flex;
    align-items: center;
}

.LangSelector__arrow {
    width: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;


    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

.LangSelector__menu {
    position: absolute;
    right: 0; 
    width: $menuWidth;
    top: calc(100% + 5px);
    transform: scaleY(0);
    padding: 5px 0;
    z-index: 1;

    background: rgba(182, 176, 159, 0.4);
    backdrop-filter: blur(5px);

    color: vars.$primary;
    border-radius: 5px;

    transition: transform ease vars.$transitionTime;

    transform-origin: 50% 0%;
    z-index: 100;
    opacity: 0;

    &.visible {
        transform: scaleY(1);
        opacity: 1;
    }
}

.LangSelector__item {
    padding: 10px 30px;
    position: relative;
    color: vars.$primary;
    transition: color ease vars.$transitionTime;
    cursor: pointer;

    &.ar {
        text-align: right;
    }

    &:not(:last-of-type) {
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1px;
            width: 70%;
            height: 1px;
            transform: translateX(-50%);
            background: rgba(255, 255, 255, 0.1);
        }
    }

    &:hover {
        color: #66b3a1;

        @media (pointer: coarse) {
           color: vars.$primary;
        }
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
       padding: 10px 20px;
    }
}

