@use 'sass:color';
@use '../../variables.scss' as vars;


.LevelController {
    display: flex;
    align-items: center;
    position: absolute;
    background: vars.$slotglass;
    min-height: 35px;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
    border-radius: 4px;

    max-width: 185px; // TODO - убрать ограничение и сделать по нормальному
    overflow-x: auto; // TODO - убрать ограничение и сделать по нормальному
}

.LevelController.view {
    background: none;
    pointer-events: none;
    bottom: 2px;

    & .LevelController__holder::before {
        display: none;
    }
}

.LevelController__btn {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: white;
    transition: background-color ease vars.$transitionTime;

    svg {
        max-width: 100%;
        max-height: 100%;
    }

    &.active {
        fill: vars.$activeButton;
    }

    &.edit {
        &:hover {
            background-color: vars.$success;
        }
    }

    &.save {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        &:hover {
            background-color: vars.$success;
        }
    }

    &.remove {
        &:hover {
            background-color: vars.$danger;
        }
    }

    &.save,
    &.remove {
        width: 35px;
    }

    &.disabled {
        fill: vars.$secondary !important;
        pointer-events: none !important;
    }
}

.LevelController__holder {
    display: flex;
    align-items: center;
    position: relative;
}   

.LevelController__indicatorsContainer {
    display: flex;
    padding: 0 8px;
}

.LevelController__indicatorBox {
    padding: 10px 2px;
    cursor: pointer;
}

.LevelController__indicatorBox.pressed .LevelController__indicator{
    transform: scale(0.95);
}

.LevelController__indicatorBox.active .LevelController__indicator {
    background-color: vars.$activeButton;
}

.LevelController__indicator {
    display: block;
    width: 20px;
    height: 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
    background-color: #ffffff24;
    transition-timing-function: ease;
    transition-duration: vars.$transitionTime;
    transition-property: transform, background-color;
}


.LevelController__customisation {
    display: flex;
    align-items: center;
}

.LevelController__inputBox {
    width: 50px;
    height: 35px;
}

.LevelController__customTimeText {
    display: inline-block;
    margin: 0 5px;
}

.LevelController__input {
    text-align: center;
    padding: 4px 8px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    border: none;
}

.LevelController__customTimeNumber {
    margin-left: 5px;
}

.LevelController__customTimeContainer {
    display: flex;
    align-items: center;
}