@use '../../shared/styles/variables.scss' as vars;
@use '../../shared/styles/mixin.scss' as *;

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: vars.$primary;
    padding: 40px 40px;
    
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;

    transition: transform ease vars.$transitionTime;


    &.hideLogoOnMobile .header__logo {
        @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
            display: none;
        }
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
      padding: 30px 20px;
    }

    @include responsiveBlock {
        height: 43vh;
        height: 43dvh;
        transform: translateY(-100%);
        overflow: hidden;
        z-index: 10030;

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background: #ff0000;
            position: absolute;
            left: 0;
            bottom: 2px;
            transform: translateX(-100%);
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-duration: 0.5s;
            animation-delay: vars.$transitionTime;
            animation-fill-mode: forwards;
        }
    }
}

.header.headerBottomOnMobile {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transform: translateY(0);

    &::after {
        animation-name: stripe;
    }
}

.header__logo {
    position: relative;
    width: 146px;
    min-width: 90px;
    fill: vars.$welcomeFontColor;
    margin-right: 1rem;
    
    svg {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
        width: 100px;
    }
}

.header__logoPatch {
    position: absolute;
    left: 100%;
    top: -18px;
    white-space: nowrap;
    color: #818992;
}

.header__button {
    margin-left: auto;
    margin-right: 0.5rem;

    @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
         margin-left: 0;
         margin-right: auto;
    }
}

@keyframes stripe {
    0% { 
        transform: translateX(-100%);
    }
    100% { 
        transform: translateX(0);
    }
}

.header.PlaygroundHeader {
    @include responsiveBlockForPlayground {
        height: 43vh;
        height: 43dvh;
        transform: translateY(-100%);
        overflow: hidden;

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background: #ff0000;
            position: absolute;
            left: 0;
            bottom: 2px;
            transform: translateX(-100%);
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-duration: 0.5s;
            animation-delay: vars.$transitionTime;
            animation-fill-mode: forwards;
        }
    }
}

.header.PlaygroundHeader.headerBottomOnMobile {
    @include responsiveBlockForPlayground {
        transform: translateY(0);
    }
}

