@use 'sass:color';
@use '../../variables.scss' as vars;

.MainTime {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.MainTime.empty {
 
    & .MainTime__container { 
        border-style: dashed;
        border-color: vars.$secondary;
    }

    & .MainTime__digitBox {
        color: vars.$secondary;
        margin-left: 2rem;
    }
}

.MainTime__container {
    width: 250px;
    height: 60px;
    border: 1px solid white;
    border-radius: 30px;    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MainTime__button {
    width: 60px;
    height: 60px;
    padding: 10px 10px 10px 20px;
    // position: relative;
    // z-index: 1;
    // right: -2px;
    // border-radius: 100%;
    // background: rgba(170, 200, 70);
 

    svg {
        width: 100%;
        height: 100%;
        fill: white;
    }
}

.MainTime__sets {
    width: 60px;
    height: 60px;
    padding: 15px;

    svg {
        width: 100%;
        height: 100%;
        fill: white;
    }
}

.MainTime__digitBox {
    font-size: 30px;
    color: white;
    user-select: none;
}

.MainTime__hotkey {
    width: 40%;
    height: calc(100% + 2px);
    position: relative;
    top: -1px;
    right: -1px;
    border: 1px dashed vars.$secondary;
    border-radius: 30px;
    color: vars.$secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &:hover {
        background: rgb(164, 164, 164);
        border: 1px solid white;
        color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 1px 0px rgba(255, 255, 255, 1);
    }
}

.MainTime__hotkey.onTopOfTheSky {
    position: absolute;
    background: rgb(164, 164, 164);
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 1px 0px rgba(255, 255, 255, 1);
    z-index: 101;
}

.MainTime__hotkeyMain {
    font-size: 18px;
}

.MainTime__hotKeySecondary {
    font-size: 14px;
    padding: 0 8px;
    text-align: center;
} 

.pause {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before, 
    &::after {
        content: '';
        width: 5px;
        height: 60%;
        border-radius: 2px;
        background: white;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        left: calc(50% - 5px);
    }

    &::after {
        left: calc(50% + 5px);
    }
}