@use 'sass:color';
@use '../../variables.scss' as vars;

.Playground {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Playground__header {
  padding-bottom: 40px;
}

.Playground__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}


.Playground__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: vars.$uppperBackground;
}

.Playground__boxHeader {
  width: 100%;
  height: 70px;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  // display: grid;
  // grid-template-columns: 60px 1fr 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Playground__boxBody {
  padding-top: 4px;
  width: 900px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(2, 46.363%);
  grid-template-columns: repeat(3, 31.684%);
  column-gap: 1.236%;
  row-gap: 2.424%;

  justify-content: center;
  align-content: center;

  &.mobilePortrait {
    grid-template-rows: repeat(3, 31.684%);
    grid-template-columns: repeat(2, 46.363%);
  }
}

.Playground__slotBox {
  display: inline-flex;
  width: 100%;
  height: 100%;
  position: relative;
  padding: vars.$slotPadding;
  background-color: vars.$lowerBackground;
  box-shadow: vars.$innerSlotBoxShadow;
  overflow: hidden;
}

.Playground__slotBox.void {
  background-color: rgb(61, 61, 61);
}

.Playground__slotEasyShadow {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.9) inset;
}

.Playground__slotHeavyShadow {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.9) inset;
  }
}

.Playground__slotSettings {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  user-select: none;
  z-index: 10;
}

.appStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 1rem;
  transition: fill ease vars.$transitionTime;
  fill: #3d3d3d;
  filter: blur(0.2px) brightness(0.7);
  stroke: rgba(255, 255, 255, 0.1);

  &.active {
    fill: #fdfb00 !important;
    filter: drop-shadow(0 0 8px rgba(255, 255, 100, 0.6));
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 32%;
    width: 25%;
    height: 25%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: radial-gradient(white 0%, transparent 100%);
    opacity: 0.2;
    pointer-events: none;
    filter: blur(3px);
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.Playground__button {
  // width: 60px;
  // height: 60px;
  width: 28px;
  height: 28px;
  // border: 1px solid #222;
  fill:rgb(214 214 214);
  fill:lightslategrey;
  // border-radius: 8px;
  // padding: 1rem;
  // background: linear-gradient(to right, #3f3e3e, #484747, #3f3e3e);
  // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.35) inset, 0 2px 5px 0px rgba(0, 0, 0, 0.5), 0 0px 25px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  transition: all ease-in-out vars.$transitionTime;
  transform: scale(1);

  // &::before {
  //   content: '';
  //   position: absolute;
  //   inset: 3px 3px;
  //   filter: blur(2px);
  // }

  &:hover {
     fill: antiquewhite;
  }

  // &.active {
  //   fill: #fdfb00 !important;
  //   box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset;
  //   padding: 17px;

  //   &::before {
  //     border-color: transparent;
  //   }
  // }

  &.disabled {
    // background: #3b3b3b;
    // box-shadow: none;
    fill: #4a4a4a !important;
    // border-color: #333333;
    cursor: default;
    pointer-events: none;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.Playground__setsButton.active {
  pointer-events: none;
}

// .Playground__editToglers {
//   display: flex;

//   & .Playground__button:first-of-type {
//     margin-right: 0.5rem;
//   }
// }

.Playground__button.play {
  fill: vars.$success1;

  &:hover {
    filter: drop-shadow(0 0 5px vars.$success1);
  }
}

.Playground__button.edit {
  margin-left: auto;
}


.Playground__leftBtnContainer {
  width: auto;
  position: relative;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.Playground__button.refreshButton {
  position: absolute;
  top: 50%;
  left: calc(100% + 1.5rem);
  width: 26px;
  height: 26px;
  transform: translateY(-50%);
}











/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

.Playground__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
}

.Playground__slot {
  position: relative;
}

.Playground__ability,
.Playground__emptyContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.Playground__ability {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover {

  }
}

.Playground__emptyContainer {
  border: 1px dashed rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    border: 1px dashed rgba(255, 255, 255, 0.9);

    &::after,
    &::before {
      border: 1px dashed rgba(255, 255, 255, 0.9);
    }
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    border: 1px dashed rgba(255, 255, 255, 0.5);
  }

  &::before {
    width: 0;
    height: 60%;
    left: calc(50% - 3px);
    top: 20%;
  }

  &::after {
    width: 60%;
    height: 0;
    top: calc(50% - 3px);
    left: 20%;
  }
}