@use '../../../shared/styles/variables.scss' as vars;

.HotkeyCellWrapper {
    height: 38px;
    width: 38px;
    position: relative;

    &.hidden {
        pointer-events: none;
        opacity: 0;
    }

    @media (pointer: coarse) {
        display: none !important;
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
        display: none !important;
    }
}

.HotkeyCell {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    border: 1px dashed rgb(128, 135, 151);
    color: rgb(128, 135, 151);
    cursor: pointer;
    user-select: none;
    overflow: hidden;

    &:hover {
        border-color: vars.$keyColor;
        color: vars.$keyColor;
    }

}

.HotkeyCell.onTopOfTheSky {
    z-index: 1002;
    border-color: vars.$keyColor;
    color: vars.$keyColor;
    pointer-events: none;
}

.HotkeyCell__text {
    width: auto;
    max-width: 100%;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

