@use 'sass:color';
@use '../../variables.scss' as vars;


.HotkeyCellWrapper {
    height: 38px;
    width: 38px;
    position: relative;
}

.HotkeyCell {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    border: 1px dashed rgb(128, 135, 151);
    color: rgb(128, 135, 151);
    cursor: pointer;

    &:hover {
        border-color: vars.$keyColor;
        color: vars.$keyColor;
    }

}

.HotkeyCell.onTopOfTheSky {
    z-index: 1002;
    border-color: vars.$keyColor;
    color: vars.$keyColor;
    pointer-events: none;
}

.HotkeyCell__inner {
    width: calc(100% - 6px);
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    overflow: hidden;
}