@use 'sass:color';
@use '../../variables.scss' as vars;

.Contact {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: vars.$primary;
}