@use '../../variables.scss' as vars;

.header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    padding: 40px 60px;
    padding-bottom: 120px;
}

.header__lang {
    font-size: 20px;
    cursor: pointer;
    padding-right: 2rem;
    font-weight: bold;
    position: relative;

    &:hover {
        color: vars.$welcomeFontColor;

        .header__langArrow svg {
            fill: vars.$welcomeFontColor;
        }
    }
}

.header__langArrow {
    position: absolute;
    width: 20px;
    top: calc(50% - 4px);
    right: 0;
    transform: translateY(-50%);
    
    svg {
        fill: white;
    }
}

.logo {
    position: relative;
    width: 146px;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: vars.$welcomeFontColor;
        }
    }
}

.patch {
    position: absolute;
    left: calc(100% + 5px);
    top: -18px;
    white-space: nowrap;
    // color: #778899;
    color: #9babbb;
}