.EmptySlot {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    cursor: pointer;
  
    &:hover {
      box-shadow: 0 0 5px 0px rgb(255, 255, 255);
      border-style: solid;
    }
  }

  .EmptySlot.fixHoverStyles {
    box-shadow: 0 0 5px 0px rgb(255, 255, 255);
    border-style: solid;
  }

  .EmptySlot__inner {
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {  
      &::after,
      &::before {
        border: 1px solid rgba(255, 255, 255, 0.9);
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      border: 1px dashed rgba(255, 255, 255, 0.5);
    }
  
    &::before {
      width: 0;
      height: 60%;
      left: calc(50% - 3px);
      top: 20%;
    }
  
    &::after {
      width: 60%;
      height: 0;
      top: calc(50% - 3px);
      left: 20%;
    }
  }

  .EmptySlot__boundKey {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed rgba(255, 255, 255, 0.5);

    &:hover {  
      background: rgb(164, 164, 164);
      border: 1px solid white;
      color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 1px 0px rgba(255, 255, 255, 1);
    }
  }

  .EmptySlot__boundKey.onTopOfTheSky {
    z-index: 101;
    background: rgb(164, 164, 164);
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 1px 0px rgba(255, 255, 255, 1);
  }

  .EmptySlot__boundKeyText {

  }

  .EmptySlot__boundKeyInfo {
    display: block;
    padding: 5px;
    font-size: 12px;
    text-align: center;
  }

  .TunedSlot {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
  }

  .TunedSlot__ownerBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    height: 180px;
    z-index: 10;
    border: 2px solid red;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .TunedSlot__ownerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
    border: 1px solid greenyellow;
    transform: rotate(-45deg) translate(25%, 25%);
  }

  .TunedSlot__ownerName {
    position: absolute;
    font-size: 16px;
    left: 100%;
    bottom: 0;
    width: 100%;
    background: rgba(161, 161, 161, 0.5);
    color: #d9d9d9;
    padding: 5px;
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: 0 100%;
  }

  .TunedSlot:hover {
    & .TunedSlot__RemoveButton {
      display: block;
    }
  }

  .TunedSlot__RemoveButton {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
    cursor: pointer;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      top: 50%;
      left: 50%;
      background:goldenrod;
    }
  
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }