@use 'sass:color';
@use '../../variables.scss' as vars;

.EmptySlot {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;

  &:hover {
    .EmptySlot__bar {
      background-color: rgb(86, 86, 86);
    }
  }
}

.EmptySlot.void {
  pointer-events: none;
  background-image: url('../../../public/assets/other/placeholder.png');
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
}

.EmptySlot__bar {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition-duration: vars.$transitionTime;
  transition-property: background-color;
  transition-timing-function: ease-in;
  background-color: #8d8d8d;
}

.EmptySlot__bar.vertical {
  width: 2px;
  height: 45%;
}

.EmptySlot__bar.horizontal {
  width: 45%;
  height: 2px;
}

.EmptySlot__bar.animate {
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-name: pulse;
}

.Playground__boxBody.stopAnimation .EmptySlot__bar {
  animation: none;
}

@keyframes pulse {
    0% { 
        transform: translate(-50%, -50%) scale(1);
        background-color: #8d8d8d;
    }

    44% {
        background-color: #565656;
        transform: translate(-50%, -50%) scale(1.15);
    }

    47% {
        transform: translate(-50%, -50%) scale(1.07);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.15);
    }

    53% {
        transform: translate(-50%, -50%) scale(1.07);
    }

    56% {
        transform: translate(-50%, -50%) scale(1.15);
    }

    100% {
        background-color: #8d8d8d;
        transform: translate(-50%, -50%) scale(1);
    }
}
