@use 'sass:color';
@use '../../variables.scss' as vars;

.CoundownEditor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CoundownEditor__inputOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.CoundownEditor__iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    fill: vars.$toolColor;
    cursor: pointer;
    transition: fill ease vars.$transitionTime;
    position: relative;

    svg {
        max-width: 100%;
        max-height: 100%;
    }

    &:hover {
        fill: antiquewhite;
    }

    &.highlight {
        fill: vars.$easygreen;
    }
}

.CoundownEditor__inputCaption {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 2px);
    color: vars.$toolColor;
    font-size: 14px;
    user-select: none;
}

.CoundownEditor__inputBox {
    width: 40px;
    height: 34px;
    padding: 2px;
    margin: 0 1rem;
    background: rgb(175, 175, 175);
    border-radius: 2px;
    user-select: none;
}

.CoundownEditor__input {
    color: black;
    width: 100%;
    height: 100%;
    padding: 4px;
    text-align: center;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5) inset;
}

.CoundownEditor__rigthHotkey {
    margin-left: 5px;
}

.CoundownEditor__leftHotkey {
    margin-right: 5px;
}

.CountdownEditor__textOnBinding {
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
    font-size: 20px;
    color: vars.$keyColor;
}

.CoundownEditor__hint {
    position: absolute;
    top: 0;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    color: vars.$toolColor;
    color: #656565;
    transform: translateY(-50%);
    font-size: 12px;

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }

    &.left {
        right: 100%;
    }

    &.right {
        left: 100%;
    }

    @media (pointer: coarse) {
        display: none !important;
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
        display: none !important;
    }
}