@use '../../variables.scss' as vars;

.footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    padding: 1rem 60px;
    color: vars.$footerColor;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.footer__column {
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__column:not(:last-of-type) {
    &::after {
        content: '';
        width: 1px;
        height: 60%;
        background: vars.$footerColor;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.footer__item {
    padding: 2px 0;
    cursor: pointer;
    transition: color ease vars.$transitionTime;

    &:hover {
        color: vars.$keyColor;
    }

    &.active {
        color: vars.$success;
        pointer-events: none;
    }
}

.donationButton {
    width: 50px;
    height: 50px;
    cursor: pointer;
    fill: vars.$footerColor;
    align-self: center;
    margin-left: 2rem;

    svg {
        max-width: 100%;
        max-height: 100%;
    }

    &:hover {
        fill: vars.$keyColor;
    }

    &.active {
        fill: vars.$keyColor;
        pointer-events: none;
    }
}