@use 'sass:color';
@use '../../variables.scss' as vars;

.Modal {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: vars.$primary;
    padding: 1.5rem 2rem 2rem 2rem;
    z-index: 1010;
}

.Modal__header {
    text-align: center;
    user-select: none;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 18px;
}

.Modal__close {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 40px;
    height: 40px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    fill: vars.$primary;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

.About__content {

}

.About__content p {
    margin-bottom: 1rem;
    line-height: 1.4;
}