@use '../../../shared/styles/variables.scss' as vars;

.QrComponent {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.QrComponent__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QrComponent__close {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 2rem;
    top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: fill ease-in-out vars.$transitionTime;
    cursor: pointer;
    fill: #FFFFFF;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

.QrComponent__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.QrComponent__code {
    width: 400px;
    height: 400px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

.QrComponent__button {
    width: 250px;
    height: 40px;
    color: vars.$primary;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: rgba(75, 75, 254, 0.4);

    &:hover {
        background-color: rgba(138, 254, 75, 0.4);

        & .QrComponent__bracket {
            fill: rgba(138, 254, 75, 1);
        }

        @media (pointer: coarse) {
            background-color: rgba(75, 75, 254, 0.4);

            & .QrComponent__bracket {
                fill: rgb(75, 75, 254);
            }
        }
    }
}

.QrComponent__bracket {
    position: absolute;
    width: 12px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    fill: rgb(75, 75, 254);

    svg {
        max-width: 100%;
        max-height: 100%;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

