@use '../../../shared/styles/variables.scss' as vars;
@use '../../../shared/styles/mixin.scss' as *;

.PanelToolbar {
    width: 100%;
    height: 80px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    @media (max-width: 629px) {
        padding: 0;
    }
}

.PanelToolbar__leftSide {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
}


.PanelToolbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 28px;
    height: 28px;
    fill: #778899;
    position: relative;
    cursor: pointer;
    transition: all ease-in-out vars.$transitionTime;
    transform: scale(1);
  
    &:hover {
       fill: #faebd7;
  
        @media (pointer: coarse) {
            fill: #778899;
        }
    }
  
    svg {
      max-width: 100%;
      max-height: 100%;
    }

    &.play {
        fill: vars.$success1;
    
        &:hover {
            filter: drop-shadow(0 0 5px vars.$success1);
    
            @media (pointer: coarse) {
                filter: none;
            }
        }
    }

    &.refreshButton {
        position: absolute;
        top: 50%;
        left: calc(100% + 1.5rem);
        width: 26px;
        height: 26px;
        transform: translateY(-50%);
    
        @media (max-width: 629px) {
            left: calc(100% + 15px);
        }
    }

    &.disabled {
        fill: #4a4a4a !important;
        cursor: default;
        pointer-events: none;
    }
}