@use '../_internal/styles/reset.scss';
@use '../../shared/assets/fonts/fontStyle.scss';
@use '../../shared/styles/variables.scss' as vars;
@use '../../shared/styles/mixin' as *;

* {
  -webkit-tap-highlight-color: transparent;
}

button:focus,
a:focus,
svg:focus,
svg:active,
a:active {
  outline: none;
  box-shadow: none;
}

body {
  font-family: 'Balsamiq Sans', sans-serif;
}

body.textRight {
  text-align: right !important;
}

#root {
  position: relative;
}

.GeneralOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;

  height: 100vh;
  height: 100dvh;
  
  overflow: hidden;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.6);
}

.GeneralOverlay__text {
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
    font-size: 20px;
    color: vars.$keyColor;
}

.AppContainer {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: relative;
}

.appStyledScroll {
  
  &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
      background: rgb(168, 168, 168, 0.9);
  }

  &::-webkit-scrollbar-thumb {
      background-color: rgb(102, 102, 102, 0.9);
      border-radius: 10px;
      border: 3px solid rgb(168, 168, 168, 0.9);
  }

  &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(68, 68, 68, 0.9);
  }

  &::-webkit-scrollbar-button {
      display: none;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}


.ToolBox {
  position: absolute;
  top: 40px;
  right: -40px;
  width: 100px;
  height: 60px;
  background: #7c7f7b;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.RefreshTool {
    right: auto;
    left: -40px;

    & .ToolBox__icon {
      margin-left: auto;
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }
}

.ToolBox.success {
  background: #63aa5b;
}

.ToolBox.success .ToolBox__icon svg path {
  fill: white;
}

.ToolBox__icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 5px;

  svg {
    fill: #393636;
    max-width: 100%;
    max-height: 100%;

    path {
      fill: #393636;
    }
  }
}

.ToolBox.success .ToolBox__save {
  display: block;
}

.ToolBox__save {
  display: none;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 20px;
  height: 20px;

  svg {
    fill: white;
    max-width: 100%;
    max-height: 100%;

    path {
      fill: white;
    }
  }
}

.AppLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.7);
  flex-grow: 1;
  overflow: hidden;
}

.AppContent {
  max-width: 1200px;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  
  height: 100%;
  display: flex;
  flex-direction: column;
  
  p {
    font-size: 18px;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    word-spacing: 2px;
  }
}

.AppTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &__icon {
    width: 40px;
    height: 40px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      max-width: 100%;
      max-height: 100%;
    }

    &.left {
      right: calc(100% + 1rem);
    }

    &.right {
      left: calc(100% + 1rem);
    }
  }
}

.toggleHeaderBottomOnMobile {
  position: absolute;
  width: 50px;
  height: 50px;

  display: none;

  left: 4px;
  top: 34vh;
  top: 34dvh;
  padding: 10px;

  fill: rgba(147, 147, 147, 0.3);

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;

  cursor: pointer;
  z-index: 10030;

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  @include responsiveBlock {
      display: block;
  }
}

.toggleHeaderBottomOnMobile.PlaygroundToggleHeaderBottomOnMobile {
  @include responsiveBlockForPlayground {
      display: block;
  }
}

.imageBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 0;
    transition: opacity vars.$transitionTime ease;

    position: absolute;
    z-index: -1;
    left: 0; top: 0;

    &.visible {
        opacity: 1;
    }
}

.Loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    z-index: 1000000;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(56, 56, 56);
}

.loaderContainer {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(56, 56, 56);
  left: 0;
  top: 0;
}

.loader {
  --s: 64px;
  width: var(--s);
  aspect-ratio: 2;
  --_g: #3797FF 90%, #0000;
  background: 
    radial-gradient(farthest-side at bottom,var(--_g)) 0    calc(50% - var(--s)/16),
    radial-gradient(farthest-side at top   ,var(--_g)) 0    calc(50% + var(--s)/16),
    radial-gradient(farthest-side at bottom,var(--_g)) 50%  calc(50% - var(--s)/16),
    radial-gradient(farthest-side at top   ,var(--_g)) 50%  calc(50% + var(--s)/16),
    radial-gradient(farthest-side at bottom,var(--_g)) 100% calc(50% - var(--s)/16),
    radial-gradient(farthest-side at top   ,var(--_g)) 100% calc(50% + var(--s)/16);
  background-size: 25% 25%;
  background-repeat: no-repeat;
  animation: l13 1s infinite linear;
}
@keyframes l13 {
    16.67% {background-position:0 0,0 100%,50% calc(50% - var(--s)/8),50% calc(50% + var(--s)/16),100% calc(50% - var(--s)/16),100% calc(50% + var(--s)/16)}
    33.33% {background-position:0 0,0 100%,50% 0,50% 100%,100% calc(50% - var(--s)/16),100% calc(50% + var(--s)/16)}
    50%    {background-position:0 0,0 100%,50% 0,50% 100%,100% 0,100% 100%}
    66.67% {background-position:0 calc(50% - var(--s)/16),0 calc(50% + var(--s)/16),50% 0,50% 100%,100% 0,100% 100%}
    83.33% {background-position:0 calc(50% - var(--s)/16),0 calc(50% + var(--s)/16),50% calc(50% - var(--s)/16),50% calc(50% + var(--s)/16),100% 0,100% 100%}
}


// Article styles


.Article {
  width: 100vw;

  height: 100vh;
  height: 100dvh;

  // background-size: cover;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-image: url('../public/assets/other/article.webp');
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: vars.$primary;
}

.imageBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity 0.5s linear;
  will-change: opacity;

  &.visible {
      opacity: 1;
  }
}

.Article__body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);

  padding-top: 150px;
  padding-bottom: 100px;

  @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
    padding-top: 110px;
    padding-bottom: 90px;
  }

  @include responsiveBlock {
      padding-top: 16px;
      padding-bottom: 16px;
  }

  @include responsiveBlockForArticle {
      padding-top: 110px;
      padding-bottom: 220px;
  }
}

.adjustCenter {
  height: 100%;
  padding: 0 40px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
    padding: 0 20px;
  }
}

.Article__bodyInner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Article__contentHeader,
.Article__headline {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;

  @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
    font-size: 18px;
  }
}

.Article__contentHeader {
  padding: 1rem 1rem 1rem 2rem;
}

.Article__headline {
  padding: 2rem 0;

  @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
    padding: 1rem 0 1.5rem;
  }
}

.Article__contentWrapper {
  flex-grow: 1;

  mask-image: linear-gradient(to bottom, transparent 0%, #000000 3%, #000000 90%, transparent 100%);

  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  padding: 22px 16px 10px 0px;
}

.Article__content {
  width: 100%;

  display: flex;
  flex-direction: column;

  font-size: 18px;

  @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
    font-size: 16px;
  }
}

.Article__content p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  word-spacing: 2px;
}
 
.Article__title {
  position: relative;
  text-transform: uppercase;
  align-self: center;
}

.Article__subTitle {
  font-size: 22px;
  margin-bottom: 1.5rem;
  font-weight: bold;

  @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
    font-size: 20px;
  }
}

.Article__caption {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: bold;
  padding-left: 10px;

  @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
    font-size: 18px;
  }
}

.Article__titleIcon {
    width: 40px;
    height: 40px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    right: calc(100% + 1rem);
    fill: vars.$fresh;

    svg {
      max-width: 100%;
      max-height: 100%;
    }

  @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
    width: 30px;
    height: 30px;
    right: calc(100% + 10px);
  }
}

.Article__socialList,
.Article__donationList {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.Article__social,
.Article__donation {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.Article__donation { 
  padding-right: 40px;
}

.Article__social {
  cursor: pointer;

  &:hover {
    color: vars.$link;

    @media (pointer: coarse) {
        color: vars.$primary;
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
        color: vars.$primary;
    }
  }
}

.Article__donationLinkHoverContainer:hover {
  cursor: pointer;

  & .Article__donationLink {
    color: vars.$link;

    @media (pointer: coarse) {
        color: vars.$primary;
        cursor: default;
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
        color: vars.$primary;
        cursor: default;
    }
  }
}

.Article__socialIcon,
.Article__donationIcon {
  width: 30px;
  height: 30px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;

  svg {
      max-width: 100%;
      max-height: 100%;
  }
}

.Article__socialLink,
.Article__donationLink {
  white-space: nowrap;
  transition: color ease vars.$transitionTime;
}

.Article__donationLink {
    color: vars.$primary;
    text-decoration: none;

    &:visited {
      color: vars.$primary;
    }
}

.Article__donationContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0 2.5rem;
  
  @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
    font-size: 16px;
    padding: 1rem 0 0 0;
  }
}

.Article__donationList {
  align-items: flex-start;
  gap: 4rem;
  margin-right: 3rem;
}

.Article__donationIcon.bmc {
  background: white;
  border-radius: 4px;
}

.Article__walletList {
  display: flex;
  flex-direction: column;
}

.Article__wallet {
  display: inline-block;
  margin-bottom: 2rem;
  padding-left: 45px;
  padding-right: 80px;
  position: relative;
}

.Article__walletID {
  word-break: break-word;

  @media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
    font-size: 14px;
  }
}

.Article__walletPayTools {
  position: absolute;
  right:  0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Article__walletCopy, 
.Article__walletQRCODE {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 22px;
  height: 22px;
  cursor: pointer;

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.Article__walletCopy {
    stroke: vars.$primary;
    fill: none;
    transition: stroke vars.$transitionTime ease;
    position: relative;

    &:hover {
      stroke: vars.$keyColor;

      @media (pointer: coarse) {
          stroke: vars.$primary;
      }

      @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
          stroke: vars.$primary;
      }
    }
}

.Article__walletQRCODE {
    fill: vars.$primary;
    transition: fill vars.$transitionTime ease;
    
    &:hover {
      fill: vars.$keyColor;

      @media (pointer: coarse) {
          fill: vars.$primary;
      }

      @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
          fill: vars.$primary;
      }
    }

    @media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
      display: none !important;
      opacity: 0;
      pointer-events: none;
    }
}


.Article__walletCopyText {
  position: absolute;
  bottom: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 12px;
  border-radius: 4px;

  color: vars.$primary;
  background: vars.$success2;

  text-transform: lowercase;

  transform-origin: 50% 100%;
  transform: translateX(-50%) scale(0);

  transition-duration: vars.$transitionTime;
  transition-property: transform;
  transition-timing-function: ease;

  z-index: 10;

  &.show {
    transform: translateX(-50%) scale(1);
  }
}

.Article__walletIcon {
  width: 35px;
  height: 35px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;

  svg {
      max-width: 100%;
      max-height: 100%;
  }
}

.Article__thanksContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: bold;
  color: vars.$easygreen;
  line-height: 1.3;
  text-align: center;

  & .Article__textIcon {
    margin-right: 4px;
  }

  p {
    margin-bottom: 1rem;
  }
}

.Article__thanksText {
  position: relative;
  transform: translateY(-100%);
}

.Article__textIcon {
  margin-right: 20px;
  font-size: 24px;
}

.Article__small {
  font-size: 14px;
}