@use '../../variables.scss' as vars;

$paddingTop: 120px;
$bodyMinHeight: 450px;
$bodyMaxHeight: 750px;


.Constructor {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(98, 98, 98, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
}

.Constructor__main {
    width: calc(100% - 400px);
    height: 100%;
    padding: $paddingTop 1rem 1rem 1rem;
    position: relative;
}

.Constructor__search,
.Sidebar__search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    max-width: calc(100% - 2rem);
}

.Sidebar__search {

}

.Constructor__body {
    padding: 1rem 4px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}

.Constructor__scrollContainer {
    padding: 0 8px;
}

.Constructor__scrollContainer,
.Sidebar__scrollContainer {
    min-height: $bodyMinHeight;
    max-height: $bodyMaxHeight;
    overflow-y: auto;
}

.Sidebar__scrollContainer { 
    padding: 0 4px;
}

.Sidebar {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: $paddingTop 0.5rem 1rem 0.5rem;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.Constructor__close {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 12px;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: rgb(253, 75, 75);
    transition: background-color ease-in-out vars.$transitionTime;

    &:hover {
        background-color: #ff0000;
    }
}

.Constructor__closeIcon {
    display: block;

    svg {
        fill: white;
    }
}


.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu__item {
    font-size: 16px;
    text-transform: uppercase;
    color: #a0a0a0;
    font-weight: bold;
    margin-bottom: 22px;
    max-width: 356px;
    width: 100%;
}

.Menu__text {
    margin-bottom: 0.5rem;
}

.Menu__picbox {
    height: 60px;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(168, 168, 168, 0.4);
        backdrop-filter: blur(1px);
        transition-timing-function: ease-in-out;
        transition-property: background-color backdrop-filter;
        transition-duration: vars.$transitionTime;
    }
}

.Menu__item.active {
    color: vars.$success;

    & .Menu__picbox::before {
        display: none;
    }
}

.Menu__item:hover .Menu__picbox::before {
    backdrop-filter: blur(0px);
    background-color: transparent;
}

.Menu__picbox.all {
    background-image: url('../../../public/assets/other/mixedAbilities.png');
}
.Menu__picbox.spells {
    background-image: url('../../../public/assets/other/spells.png');
}
.Menu__picbox.items {
    background-image: url('../../../public/assets/other/items.png');
}
.Menu__picbox.other {
    background-image: url('../../../public/assets/other/other.png');
}

.Sidebar__button {
    width: 300px;
    height: 90px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #079b0b;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    align-self: center;
    cursor: pointer;
}

.Sidebar__gridWrapper {
    padding: 1rem 4px 1rem 4px;
    border-radius: 4px;
    background: #c6c6c624;
}

.Sidebar__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    width: 100%;
    gap: 10px;
}

.Sidebar__gridItem {
    height: 46px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition: transform ease-in-out vars.$transitionTime;

    img {
        width: 100%;
        height: 100%;
        object-position: center center;
        object-fit: cover;
    }

    &:hover {
        transform: scale(0.95);
    }
}