@use './variables.scss' as vars;
@import url('./assets/fonts/fontStyle.scss');
@import url('./reset.scss');

body {
    font-family: 'Balsamiq Sans';
}

#root {
  position: relative;
}

.GeneralOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.6);
}

.GeneralOverlay__text {
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
    font-size: 20px;
    color: vars.$keyColor;
}

.appStyledScroll {
  
  &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
      background: rgb(168, 168, 168);
  }

  &::-webkit-scrollbar-thumb {
      background-color: #666;
      border-radius: 10px;
      border: 3px solid rgb(168, 168, 168);
  }

  &::-webkit-scrollbar-thumb:hover {
      background-color: #444;
  }

  &::-webkit-scrollbar-button {
      display: none;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}


.ToolBox {
  position: absolute;
  top: 40px;
  right: -40px;
  width: 100px;
  height: 60px;
  background: #7c7f7b;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.RefreshTool {
    right: auto;
    left: -40px;

    & .ToolBox__icon {
      margin-left: auto;
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }
}

.ToolBox.success {
  background: #63aa5b;
}

.ToolBox.success .ToolBox__icon svg path {
  fill: white;
}

.ToolBox__icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 5px;

  svg {
    fill: #393636;
    max-width: 100%;
    max-height: 100%;

    path {
      fill: #393636;
    }
  }
}

.ToolBox.success .ToolBox__save {
  display: block;
}

.ToolBox__save {
  display: none;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 20px;
  height: 20px;

  svg {
    fill: white;
    max-width: 100%;
    max-height: 100%;

    path {
      fill: white;
    }
  }
}