@import url('./assets/fonts/fontStyle.scss');
@import url('./reset.scss');

body {
    font-family: 'Balsamiq Sans';
}

#root {
  position: relative;
}

.GeneralOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1001;
  background: black;
  opacity: 0.6;
}

.ToolBox {
  position: absolute;
  top: 40px;
  right: -40px;
  width: 100px;
  height: 60px;
  background: #7c7f7b;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.RefreshTool {
    right: auto;
    left: -40px;

    & .ToolBox__icon {
      margin-left: auto;
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }
}

.ToolBox.success {
  background: #63aa5b;
}

.ToolBox.success .ToolBox__icon svg path {
  fill: white;
}

.ToolBox__icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 5px;

  svg {
    fill: #393636;
    max-width: 100%;
    max-height: 100%;

    path {
      fill: #393636;
    }
  }
}

.ToolBox.success .ToolBox__save {
  display: block;
}

.ToolBox__save {
  display: none;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 20px;
  height: 20px;

  svg {
    fill: white;
    max-width: 100%;
    max-height: 100%;

    path {
      fill: white;
    }
  }
}
