@use 'sass:color';
@use './variables.scss' as vars;

.Article {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../public/assets/other/settings4.png');
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: vars.$primary;
}

.Article__body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
}

.Article__bodyInner {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 2rem 2rem 1rem;
}

.Article__contentHeader,
.Article__headline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.Article__contentHeader {
  padding-bottom: 1rem;
}

.Article__headline {
  padding-bottom: 2rem;
}

.Article__contentWrapper {
  flex-grow: 1;
  padding: 2rem;
  
  mask-image: linear-gradient(to bottom, transparent 0%, black 3%, black 90%, transparent 100%);

  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.Article__content {
  width: 100%;

  display: flex;
  flex-direction: column;

  font-size: 18px;
}

.Article__content p {
  font-size: 18px;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  word-spacing: 2px;
}
 
.Article__title {
  position: relative;
  text-transform: uppercase;
  align-self: center;
}

.Article__subTitle {
  font-size: 22px;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.Article__caption {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: bold;
  padding-left: 10px;
}

.Article__titleIcon {
    width: 40px;
    height: 40px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    right: calc(100% + 1rem);
    fill: vars.$fresh;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
}

.Article__socialList,
.Article__donationList {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.Article__social,
.Article__donation {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  cursor: pointer;
}

.Article__socialIcon,
.Article__donationIcon {
  width: 30px;
  height: 30px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;

  svg {
      max-width: 100%;
      max-height: 100%;
  }
}

.Article__socialLink,
.Article__donationLink {
  white-space: nowrap;
  text-decoration: underline;
  transition: color ease vars.$transitionTime;

  &:hover {
    color: vars.$link;
  }
}

.Article__donationLink {
    color: vars.$primary;

    &:visited {
      color: vars.$primary;
    }
}

.Article__donationContainer {
  display: flex;
  margin-top: 1rem;
  gap: 5rem;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.Article__donationList {
  align-items: flex-start;
  margin-bottom: 0;
  gap: 4rem;
}

.Article__donationIcon.bmc {
  background: white;
  border-radius: 4px;
}

.Article__walletList {
  display: flex;
  flex-direction: column;
}

.Article__wallet {
  display: inline-block;
  margin-bottom: 2rem;
  padding-left: 45px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}

.Article__walletCopy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 30px;
  height: 30px;

  left: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);

  stroke: vars.$primary;

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.Article__walletCopyText {
  position: absolute;
  bottom: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  border-radius: 4px;

  color: vars.$primary;
  background: vars.$success2;

  text-transform: lowercase;

  transform-origin: 50% 100%;
  transform: translateX(-50%) scale(0);

  transition-duration: vars.$transitionTime;
  transition-property: transform;
  transition-timing-function: ease;

  z-index: 10;

  &.show {
    transform: translateX(-50%) scale(1);
  }
}

.Article__walletIcon {
  width: 35px;
  height: 35px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;

  svg {
      max-width: 100%;
      max-height: 100%;
  }
}

.Article__thanks {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: vars.$keyColor;
  color: vars.$easygreen;
  line-height: 1.7;
}