$primary: aliceblue;
$secondary: #a0a0a0;
$control: #d2d4d5;



$welcomeFontColor: #b1efe0;

$lowerBackground: rgb(168 168 168);
$uppperBackground: rgb(55, 58, 61);
$innerBoxShadow: rgba(0, 0, 0, 0.3);
$slotPadding: 5px;

$innerSlotBoxShadowBlur: 10px;
$innerSlotBoxShadowColor: rgba(0, 0, 0, 0.9);

$innerSlotBoxShadow: 0 0 $innerSlotBoxShadowBlur 0px $innerSlotBoxShadowColor inset;
$slotBorderColor: rgb(21, 23, 24);


$keyColor: #ffdfa2;

$transitionTime: 0.2s;