@use '../../variables.scss' as vars;
@use '../../mixin.scss' as *;   

.Playground {
  width: 100%;
  
  height: 100vh;
  height: 100dvh;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 130px 0 90px;
}

.Playground__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.TimerGear {
  width: 100%;
  max-width: 925px;
  max-height: 100%;
  height: auto;
  overflow: hidden;

  padding: 0px 10px 10px;

  display: flex;
  flex-direction: column;

  background: rgba(55, 58, 61, 0.7);
  backdrop-filter: blur(15px);
}

.TimerGear__header {
  width: 100%;
  height: 80px;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.TimerGear__main {
  max-width: 100%;

  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  justify-items: center;
  
  padding: 10px;
  row-gap: 10px;
  column-gap: 10px;
}

.timerBox {
  width: 285px;
  height: 230px;

  padding: vars.$slotPadding;
  background-color: rgba(255, 255, 255, 0.06);
  overflow: hidden;
}

.Playground__slotBox {
  display: inline-flex;
  position: relative;
}

.Playground__slotHeavyShadow {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.9) inset;
  }
}

.Playground__slotSettings {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  user-select: none;
  z-index: 10;
}

.appStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 1rem;
  transition: fill ease vars.$transitionTime;
  fill: #3d3d3d;
  filter: blur(0.2px) brightness(0.7);
  stroke: rgba(255, 255, 255, 0.1);

  &.active {
    fill: #fdfb00 !important;
    filter: drop-shadow(0 0 8px rgba(255, 255, 100, 0.6));
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 32%;
    width: 25%;
    height: 25%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: radial-gradient(white 0%, transparent 100%);
    opacity: 0.2;
    pointer-events: none;
    filter: blur(3px);
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.Playground__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  fill: #778899;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out vars.$transitionTime;
  transform: scale(1);

  &:hover {
     fill: #faebd7;

      @media (pointer: coarse) {
          fill: #778899;
      }
  }

  &.disabled {
    fill: #4a4a4a !important;
    cursor: default;
    pointer-events: none;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.Playground__setsButton.active {
  pointer-events: none;
}

.Playground__button.play {
  fill: vars.$success1;

  &:hover {
    filter: drop-shadow(0 0 5px vars.$success1);

      @media (pointer: coarse) {
          filter: none;
      }
  }
}

.Playground__button.edit {
  margin-left: auto;
}


.Playground__leftBtnContainer {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.Playground__button.refreshButton {
  position: absolute;
  top: 50%;
  left: calc(100% + 1.5rem);
  width: 26px;
  height: 26px;
  transform: translateY(-50%);
}


@media (max-width: #{vars.$DEVICEMAXWIDTH}px) {
  .Playground {
    padding-top: 110px;
  }

  .TimerGear {
    max-width: 630px;
  }
}

@include responsiveSlimForPlayground {
  .Playground {
    padding-bottom: 210px;
  }
}

@include responsiveBlockForPlayground {
  .Playground {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: #{vars.$MEDIUMDEVICEWIDTH}px) {
  .TimerGear {
    max-width: 100%;
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 629px) {
  .TimerGear__header {
    padding: 0;
  }

  .Playground__button.refreshButton {
    left: calc(100% + 15px);
  }
  
  .CountdownEditor__inputBox {
    margin: 0 7px;
  }
}

@include bandForTimerGear {
  .TimerGear {
    max-width: 1810px;
  }
}

.SettingsStage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(8, 1fr);
    position: relative;
}

.SettingsStage__header {
    padding-top: 1rem;
    grid-area: 1 / 2 / 3 / 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.SettingsStage__time {
    position: absolute;
    left: 50%;
    bottom: 5rem;
    font-size: 18px;
    color: #ffffff;
    transform: translateX(-50%);
}

.SettingsStage__grid {
    padding: 1rem;
    grid-area: 3 / 2 / 9 / 8;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border-radius: 6px;
    background: rgb(55, 58, 61);
}

.SettingsStage__info {
    color: #f5deb3;
    text-align: center;
    margin-bottom: 1.5rem;
}

.SettingsStage__infoMain {
    font-size: 20px;
    margin-bottom: 1rem;
    display: block;
}

.SettingsStage__infoSecondary {
    font-size: 16px;
    display: block;
}

